<section class="form-container">
  <div class="container recuperar-container">
    <!-- ============================
       PASO 1 — INGRESAR CORREO
  ============================= -->
    <div *ngIf="paso === 1" class="form-block">
      <h2 class="text-center mb-3">Recuperar contraseña</h2>

      <form [formGroup]="formCorreo" novalidate>
        <label>Correo electrónico</label>
        <input type="email" class="form-control" formControlName="correo" />

        <small
          *ngIf="
        formCorreo.get('correo')?.invalid &&
        (formCorreo.get('correo')?.dirty || formCorreo.get('correo')?.touched) &&
        !formCorreo.get('correo')?.errors?.['noExiste']"
          class="error"
        >
          Debes ingresar un correo válido.
        </small>

        <small
          *ngIf="formCorreo.get('correo')?.errors?.['noExiste'] && 
           (formCorreo.get('correo')?.dirty || formCorreo.get('correo')?.touched)"
          class="error"
        >
          El correo no está registrado.
        </small>

        <button type="button" class="btn-primary mt-3" (click)="enviarCorreo()">
          Enviar código
        </button>
      </form>
    </div>

    <!-- ============================
       PASO 2 — VALIDAR CÓDIGO
  ============================= -->
    <div *ngIf="paso === 2" class="form-block">
      <h2 class="text-center mb-3">Verifica tu código</h2>

      <p class="text-center">
        Ingresa el código enviado a: <strong>{{ correoValidado }}</strong>
      </p>

      <form [formGroup]="formCodigo" novalidate>
        <label>Código</label>
        <input type="text" class="form-control" formControlName="codigo" />

        <small
          *ngIf="
            formCodigo.get('codigo')?.errors &&
            (formCodigo.get('codigo')?.dirty || formCodigo.get('codigo')?.touched)
          "
          class="error"
        >
          <span *ngIf="formCodigo.get('codigo')?.errors?.['required']">
            Debes ingresar el código.
          </span>

          <span *ngIf="formCodigo.get('codigo')?.errors?.['pattern']">
            Solo se permiten números.
          </span>

          <span *ngIf="formCodigo.get('codigo')?.errors?.['minlength']">
            El código debe tener 6 dígitos.
          </span>

          <span *ngIf="formCodigo.get('codigo')?.errors?.['maxlength']">
            El código debe tener 6 dígitos.
          </span>
        </small>
        <small *ngIf="formCodigo.errors?.['incorrecto']" class="error">
          {{ formCodigo.errors?.['incorrecto'] }}
        </small>
        <button type="button" class="btn-primary mt-3" (click)="verificarCodigo()">
          Validar código
        </button>

        <p class="mt-3 text-center">
          <a style="cursor: pointer" (click)="paso = 1">← Cambiar correo</a>
        </p>
      </form>
    </div>

    <!-- ============================
     PASO 3 — NUEVA CONTRASEÑA
============================= -->
    <div *ngIf="paso === 3" class="form-block">
      <h2 class="text-center mb-3">Nueva contraseña</h2>

      <form [formGroup]="formClave" novalidate>
        <!-- NUEVA CLAVE -->
        <label>Nueva contraseña</label>
        <div class="password-group">
          <input
            [type]="verClave ? 'text' : 'password'"
            class="form-control"
            formControlName="clave"
          />
          <button type="button" class="btn-ojo" (click)="verClave = !verClave">👁️</button>
        </div>

        <!-- ERRORES DE LA NUEVA CLAVE -->
        ...
        <div class="reglas" *ngIf="formClave.get('clave')?.touched">
          <span [class.ok]="!formClave.get('clave')?.errors?.['minlength']">Mín. 6</span>
          <span [class.ok]="!formClave.get('clave')?.errors?.['maxlength']">Máx. 18</span>
          <span [class.ok]="!formClave.get('clave')?.errors?.['uppercase']">Mayúscula</span>
          <span [class.ok]="!formClave.get('clave')?.errors?.['number']">Número</span>
        </div>
        ...

        <!-- REPETIR CLAVE -->
        <label class="mt-2">Repetir contraseña</label>
        <div class="password-group">
          <input
            [type]="verClave2 ? 'text' : 'password'"
            class="form-control"
            formControlName="clave2"
          />
          <button type="button" class="btn-ojo" (click)="verClave2 = !verClave2">👁️</button>
        </div>

        <!-- ERROR: CONTRASEÑAS NO COINCIDEN -->
        <small
          *ngIf="formClave.errors?.['noCoinciden'] && formClave.get('clave2')?.touched"
          class="error"
        >
          {{ formClave.errors?.['noCoinciden'] }}
        </small>

        <small *ngIf="formClave.errors?.['error']" class="error">
          {{ formClave.errors?.['error'] }}
        </small>

        <button type="button" class="btn-primary mt-3" (click)="actualizarClave()">
          Guardar nueva contraseña
        </button>

        <p class="mt-3 text-center">
          <a style="cursor: pointer" (click)="paso = 2">← Volver</a>
        </p>
      </form>
    </div>
  </div>
</section>
