@use '../../styles/form-base.scss';

// Ajustes adicionales locales

.text-center {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

.form-block {
  width: 100%;
}

.password-group {
  position: relative;
  display: flex;
  align-items: center;

  .btn-ojo {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.error {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 4px;
  display: block;
}

.alert-success {
  margin-top: 15px;
  font-size: 0.9rem;
}
